<!DOCTYPE html>
<html>
<head>
	<title> VGL - Events </title>
	<link rel="shortcut icon" href="/images/favico.ico">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

</head>
<body>
	<div class="container">
		<header>
			<a href="/"><img src="/images/VanLogoWhite.png" alt="van-logo" id="logo"> </a>
			<nav>
				<a href="/schedule">SCHEDULE</a>
				<a href="/stats">TEAMS & STANDING</a>
				<a href="https://www.twitch.tv/vangamingleague">WATCH</a>
				<a id="dropdown">ABOUT VGL
				</a>
				<div class="dropdown-content hide">
					<ul>
						<a class="drop" href="https://discord.gg/kwNwr7J"><li>DISCORD</li></a>
						<a class="drop" href="https://www.twitch.tv/vangamingleague"><li>TWITCH</li></a>
						<a class="drop" href="/signup"><li>SIGN UP</li></a>

					</ul>
				</div>

			</nav>
		</header>

		<div class="calendar">
			<% let date = -4 %>
			<% for (let i = 0; i < 5; i++) { %>
				<div class="week">
				<% for (let c = 0; c < 7; c++) { %>
					<% switch (date) {
						case -1:
						case 0: 
						case -2:
						case -3:
						case -4:
						case 32:
						case 29:
						case 30: 
						case 33: %>
						<span> </span>
					<%  
							break;
						case 7: %>
							<span class="special-date"> <%= date %>
							<div class="eventdate"> 8:00pm EST </div>
	    					<div class="eventtime"> Teams 2 vs 4 </div>
	    					</span>
	    			
    				
    				
					<% 	break;
						default:


					%>
						<span> <%= date %></span>


					<% } date++; %>
				<%}%>
				</div>
			<% } %>
		</div>
	</div>
	<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>