<!DOCTYPE html>
<html>
<head>
	<title> VGL </title>
    <link rel="shortcut icon" href="/images/favico.ico">

	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

</head>
<body>
	<div class="container">

		<header>
			<a href="/"><img src="/images/VanLogoWhite.png" alt="van-logo" id="logo"> </a>
			<nav>
				<a href="/schedule">SCHEDULE</a>
				<a href="/stats">TEAMS & STANDING</a>
				<a href="https://www.twitch.tv/vangamingleague">WATCH</a>
				<a id="dropdown">ABOUT VGL
				</a>
				<div class="dropdown-content hide">
					<ul>
						<a class="drop" href="https://discord.gg/kwNwr7J"><li>DISCORD</li></a>
						<a class="drop" href="https://www.twitch.tv/vangamingleague"><li>TWITCH</li></a>
						<a class="drop" href="/signup"><li>SIGN UP</li></a>

					</ul>
				</div>

			</nav>
		</header>
		
		<div class="front"> </div>
		<section>
	        <div class="title"> 
	        	- About -
	        </div>
	        <p> 
	        	The league will be built around a Draft pick style. What this means is, each team will have a team captain. This team captain will be tasked with selecting his players, by turn, out of a "Free Agent" pool. All team captains of every team in the league, will select their team this way, much like a pro sports league. We are hoping to do things a little differently here. Instead of all our teams having the very best players we can find, vs the very best players, we want teams built of players from every caliber, working together, to become champions of this League. To apply to join this league, please send an email, by clicking the VGL dropdown at the top!
	        </p>
        </section> 
        <section> 

        	<div class="title"> 

	        	- Top Players -
	        </div>
	        <div class="imgrow"> 
	        	<div>
	        		<a class="champ" href="http://na.op.gg/summoner/userName=sin+incarnate"> <img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/champion/Cassiopeia.png" alt="Sin" /></a>
	        		<h3> Sin Incarnate </h3>
	        		<h4 class="plat">⬦ PLAT 4 ⬦</h4>

	        	</div> 
	        	<div> 
	        		<a class="champ" href="http://na.op.gg/summoner/userName=Leesin+Incarnate"> <img src='/images/leesin.gif' alt="Leesin Incarnate"/></a>
	        		<h3> Leesin Incarnate </h3>
	        		<h4 class="diamond">⬦ DIAMOND 4 ⬦</h4>

	        	</div>
	        	<div> 
	        		<a class="champ" href="http://na.op.gg/summoner/userName=Xatuo"> <img src='/images/yas.gif' alt="Xatuo"/></a>
	        		<h3> Xatuo </h3>
	        		<h4 class="plat">⟡ PLAT 4 ⟡</h4>

	        	</div>
	        	<div>
	        		<a class="champ" href="http://na.op.gg/summoner/userName=trueanxiety"> <img src='/images/lucian.gif' alt="Plezzy Reformed" /></a>
	        		<h3> Plezzy </h3>
	        		<h4 class="diamond">⬦ DIAMOND 2 ⬦</h4>

	        	</div>
	        	<div>
	        		<a class="champ" href="http://na.op.gg/summoner/userName=WhaddupJohn"> <img src='/images/leesin.gif' alt="john" /></a>
	        		<h3> WHADDUPJOHN</h3>
	        		<h4 class="plat">⟡ PLAT 4 ⟡</h4>

	        	</div>
	        </div> 

        </section>

<!--         <h1 class="title" > <a href="/signup" id="join-button"> Join Season 2! </a></h1>
 -->
	</div>
	<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>