<!DOCTYPE html>
<html>
<head>
	<title> VGL - Join </title>
	<link rel="shortcut icon" href="/images/favico.ico">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

</head>
<body>
	<div>
		
	<header>
		<a href="/"><img src="/images/VanLogoWhite.png" alt="van-logo" id="logo"> </a>
		<nav>
			<a href="/schedule">SCHEDULE</a>
			<a href="/stats">TEAMS & STANDING</a>
			<a href="https://www.twitch.tv/vangamingleague">WATCH</a>
			<a id="dropdown">ABOUT VGL
			</a>
			<div class="dropdown-content hide">
				<ul>
					<a class="drop" href="https://discord.gg/kwNwr7J"><li>DISCORD</li></a>
					<a class="drop" href="https://www.twitch.tv/vangamingleague"><li>TWITCH</li></a>
					<a class="drop" href="/signup"><li>SIGN UP</li></a>

				</ul>
			</div>

		</nav>
	</header>

	<form action="/" method="POST" >
		<h3 class="title"> Season 2 Application </h3>
		<div class="application-form"> 
			<h3> Summoner Name </h3><input type="text" name="ign"> <br>
			<h3> Rank </h3><input type="text" name="rank"> <br>

			<h3> Best Position </h3>
			<select name="position1">
				<option value="top"> TOP</option>
				<option value="mid"> MID</option>
				<option value="jg"> JG</option>
				<option value="ADC"> ADC</option>
				<option value="sup"> SUP</option>

			</select>

			 <br>
			<h3> Secondary Position </h3>
			<select name="position2">
				<option value="top"> TOP</option>
				<option value="mid"> MID</option>
				<option value="jg"> JG</option>
				<option value="ADC"> ADC</option>
				<option value="sup"> SUP</option>

			</select>
			<br>
			<h3> Honor Level (optional) </h3><input type="text" name="honor"> <br>
			<h3> Joining with a partner/duo? Partner's Summoner Name</h3><input type="text" name="partner"> <br>


			<button type="submit"> Join! </button>
		</div>
	</form>	


	</div>


	<script type="text/javascript" src="/js/app.js"></script>


</body>
</html>